body {
    font-family: Roboto, sans-serif;
    /*color: #333;*/
}

div {
    display: block;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.site-header {
    position: fixed;
    padding: 10px 0;
    width: 100%;
    z-index: 2;
    transition: background-color .3s ease-out;
    background-color: rgba(47, 85, 114, .3);
}

.wrapper {
    overflow: hidden;
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;
}

.site-header_logo {
    left: auto;
    transform: translateX(0);
}

.site-header_logo {
    position: absolute;
    background-color: #2f5572;
    padding: 10px 36px;
    top: 0;
    transform-origin: 50% 0;
}

.text-header {
    width: 144.4px;
    height: 45.53px;
    background-position: 0 0;
    color: white;
    text-align: center;
    padding-top: 10%;
}

.site-header__menu-icon {
    display: none;
    width: 20px;
    height: 19px;
    position: absolute;
    /*z-index: 10;*/
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.site-header__menu-icon__middle {
    top: 8px;
    transform-origin: 0 50%;
    transition: all .3s ease-out;
}

.site-header__menu-content {
    transition: all .3s ease-out;
    position: relative;
    /*text-align: center;*/
}

.site-header__btn-container {
    float: right;
}

.btn {
    background-color: #2f5572;
    color: #fff;
    text-decoration: none;
    padding: 0.75rem 1.2rem;
    display: inline-block;
}

.btn--large {
    font-size: 1.25rem;
    padding: 1.1rem 1.9rem;
}

.btn--orange {
    background-color: #d59541;
}

.primary-nav--pull-right {
    float: right;
}

.primary-nav {
    padding-top: 0;
}

.primary-nav ul {
    margin: 0;
    padding: 0;
}

.primary-nav li {
    padding-right: 20px;
    float: left;
    display: block;
    list-style: none;
}

.primary-nav a.is-current-link {
    color: #fabb69;
}

.primary-nav a {
    padding: 12px 0;
    font-size: 1rem;
    background-color: transparent;
    text-decoration: none;
    font-weight: 300;
    display: block;
    color: #fff;
}