.page-section--blue {
    background-color: #2f5572;
    color: #fff;
}

.section-title {
    text-align: center;
    margin-bottom: 3rem;
    text-decoration: underline;
}

.icon--star {
    margin-bottom: -1rem;
}

.rain {
    text-align: center;
}

.globe {
    text-align: center;
}

.wifi {
    text-align: center;
}

.fire {
    text-align: center;
}