h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.wrapper .wrapper {
    padding-left: 0;
    padding-right: 0;
}

.wrapper--b-margin {
    margin-bottom: 3.875rem;
    margin-bottom: 1rem;
}

.wrapper--medium {
    max-width: 976px;
}

.headline--b-margin-small {
    margin-bottom: 0.5em;
}

.headline--light {
    font-weight: 100;
}

.headline--centered {
    text-align: center;
}

.headline {
    color: #2f5572;
    font-size: 2.875rem;
}

.headline strong {
    font-weight: bold;
}

.headline--narrow {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.headline--small {
    font-size: 1.875rem;
}

.headline--orange {
    color: #d59541;
}

.headline--b-margin-large {
    margin-bottom: 1.6em;
}

.generic-content-container p {
    font-weight: 300;
    line-height: 1.65;
    margin: 0 0 1.8rem;
    font-size: 1.125rem;
}

.row--gutters>div {
    padding-right: 65px;
}

.row__medium-8--smaller {
    width: 63%;
}

.row__medium-8 {
    float: left;
    width: 66.66%;
}

.row--gutters {
    margin-right: -65px;
}

.page-section {
    padding: 4.5rem 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/*second part of hero*/
.row--gutters {
    margin-right: -65px;
}

.row--gutters>div {
    padding-right: 65px;
}

.row__medium-4--larger {
    width: 37%;
}

.row__medium-4 {
    float: left;
}

.row__b-margin-until-medium {
    margin-bottom: 0;
}

.row__medium-8--smaller {
    width: 63%;
}

.row__medium-8 {
    float: right;
}

.headline--no-t-margin {
    margin-top: 0;
}

.generic-content-container p {
    font-weight: 300;
    line-height: 1.65;
    margin: 0 0 1.8rem;
}

* {
    box-sizing: border-box;
}